* {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
.contenido img {
    width: 300px;
}


.contenido {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: #e8ebe4;
}



.texto_contenido {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: x-large;
    text-align: center;
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: row;
    width: 100%;
}

.panel {
    width: 55vh;
}

.tarjeta {
    border-bottom: 1px solid #bec1bb;
    height: 80px;
    display: flex;
    width: 50vh;
    align-items:center;
    justify-content: center;
}

.chat img {
    width: 65px;
    border-radius: 100%;
    margin-right: 10px;
}

.tarjeta input {
    color: #fff;
    background-color: #a491d2;
    border: none;
    width: 60%;
    height: 50%;
    font-size: medium;
    font-weight: bold;
}

.boton {
    height: 15vh;
}

.foto {
    display: flex;
}

.foto img {
    width: 40px;
    border-radius: 100%;
}

.caja_perfil {
    border-bottom: 1px solid #bec1bb;
    display: flex;
    justify-content: space-around;
    height: 10vh;
    align-items: center;
    text-align: center;
    font-size: larger;
}

.iconos i {
    width: 5vh;
}

.estado p{
    width: 15vh;
}