* {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
.contenido img {
    width: 250px;
}


.contenido {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: #e8ebe4;
}



.texto_contenido {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: x-large;
    text-align: center;
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: row;
}

.panel {
    width: 30vh;
}

.tarjeta {
    border-bottom: 1px solid #bec1bb;
}